.table-container {
    background-color: #f0f4ff;
    border-radius: 15px;
    padding: 20px;
  }
  
  .search-bar {
    background-color: #f8f5fc;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 10px;
    max-width: 300px;
  }
  
  .btn-ver-historial {
    background-color: #333;
    color: white;
  }
  