<!DOCTYPE html>
<html lang="en" layout:decorate="_layoutAdministrador">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roles</title>
</head>

<body style="background: #EDEEFF;">
  <div layout:fragment="content">
    <div class="tab-content mt-5" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-citas" role="tabpanel" aria-labelledby="pills-citas-tab">
        <div class="container">
          Roles
        </div>
      </div>
    </div>
  </div>
</body>

</html>